- name: Install nginx
  ansible.builtin.package:
    name: nginx 
    state: present 

- name: Download and extracting {{COMPONENT}}
  ansible.builtin.include_role:
    name: common 
    tasks_from: download 

- name: Cleanup of Old HTML Content 
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent    # Absent deletes the files.

- name: copy of frontend content to nginx path 
  ansible.builtin.copy:
     src: /tmp/frontend-main/static/
     dest: /usr/share/nginx/html
     remote_src: yes

# If src and dest ends with /, it's very important to know what you're aming directory, not just the content.
- name: copy the proxy file 
  ansible.builtin.template:
     src: roboshop.conf
     dest: /etc/nginx/default.d/roboshop.conf
  notify: Restart-Nginx   # When ever there is a change in this file, restart of nginx will happen

# This happens only when the service is installed. As rest of the times it will be up.
- name: Start Nginx  
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes 

- name: Set-hostname 
  ansible.builtin.include_role:
    name: common 
    tasks_from: set-hostname 